.history {
    text-align: right;
    color: grey;
}

.mark {
    background-color: #fff0c4;
    color: grey
}

.good {
    background-color: #49a66a;
    color: black;
}

.compMark {
    background-color: #ff6262;
}