
<div class="wrapper">

    <div>
        <div class="header">
            <table width="100%">
                <tr>
                    <td style="text-align: left;">
                        <div>
                            GoPress V1.1
                        </div>
                    </td>
                    <td>
                        <button mat-flat-button style="margin:10px;" color="primary" (click)="logout()">Ausloggen</button>
                    </td>
                </tr>
            </table>
            
        </div>

        <div class="content" style="width:100%">
            <div *ngIf="experiments?.length<=1">
                <div *ngFor="let exp of experiments" style="display: inline-block;">
                    <app-experiment [experiment]="exp" [small]="false"></app-experiment>
                </div>
            </div>
            <div *ngIf="experiments?.length>1">
                
                <table width="100%">
                    <tr>
                        <td width="45%">
                            <div>
                                <span style="color: #673AB7; font-weight: bold;">Zu vergleichendes Experiment:&nbsp;</span>
                                <select [(ngModel)]="active_index" (change)="getComparison()" name="sel1">
                                    <option *ngFor="let exp of experiments; let i = index" value="{{i}}">{{ exp.remark }} ({{ exp.name }})</option>
                                </select>
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td width="40%">
                            <div>
                                
                                <div>
                                    <app-experiment [experiment]="experiments[active_index]" [comparison]="comp" [small]="false"></app-experiment>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div *ngIf="experiments?.length>2" style="text-align: left;padding-left: 50px;">
                                    <span style="color: #673AB7; font-weight: bold;">Durchschnittswerte der Vergleichsgruppe</span>
                                    <table width="500px" style="background-color: white;">
                                        <tr style="font-weight: bold;">
                                            <td>Kennzahl</td>
                                            <td style="text-align: right;">Wert</td>
                                        </tr>
                                        <tr *ngFor="let kpi of comp | keyvalue">
                                            <td>{{vimmService.map_kpi_key(kpi.key)}}: </td>
                                            <td style="text-align: right;">{{kpi.value | number:'':'de'}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div *ngFor="let exp of experiments; let i = index" style="display: inline-block;">
                                    <app-experiment *ngIf="experiments?.length>2 && i != active_index" [experiment]="exp" [small]="true"></app-experiment>
                                    <app-experiment *ngIf="experiments?.length<=2 && i != active_index" [experiment]="exp" [small]="false"></app-experiment>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer">
            <div class="overlay" *ngIf="showSpinner">
                <div class="spinner-wrapper">
                    <app-spinner></app-spinner>
                </div>
            </div>
            <div>
                <app-file-upload></app-file-upload>
            </div>
        </div>
    </div>
</div>