
<div class="wrapper">

    <div>
        <div class="header">
            <table width="100%">
                <tr>
                    <td style="text-align: left;">
                        <div>
                            GoPress V1.1
                        </div>
                    </td>
                    <td>
                        <app-angular2csv *ngIf="experiments?.length>=1" [data]="data" filename="ExperimentDaten.csv" [options]="options">
                            <button mat-flat-button style="margin:10px;" color="primary">Experimentdaten als csv herunterladen</button>
                        </app-angular2csv>
                        
                    </td>
                    <td><button mat-flat-button style="margin:10px;" color="primary" (click)="logout()">Ausloggen</button></td>
                </tr>
            </table>
            
        </div>

        <div class="content" style="width:100%">
            <div *ngIf="experiments?.length>=2" style="width: 100%">
                <span style="color: #673AB7; font-weight: bold;">Durchschnittswerte der Experimente</span>
                <table width="500px" style="background-color: white; margin: 0 auto;">
                    <tr style="font-weight: bold; text-align: left;">
                        <td>Kennzahl</td>
                        <td style="text-align: right;">Wert</td>
                    </tr>
                    <tr *ngFor="let kpi of comp | keyvalue">
                        <td style="text-align: left;">{{vimmService.map_kpi_key(kpi.key)}}: </td>
                        <td style="text-align: right;">{{kpi.value | number:'':'de'}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <div *ngFor="let exp of experiments" style="display: inline-block;">
                    <app-experiment [experiment]="exp" [small]="false"></app-experiment>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="overlay" *ngIf="showSpinner">
                <div class="spinner-wrapper">
                    <app-spinner></app-spinner>
                </div>
            </div>
            <div>
                <app-file-upload></app-file-upload>
            </div>
        </div>
    </div>
</div>